extends header.pug
block body
	div(class='jumbotron col-md-6 d-flex align-items-center text-center')
		div
			script(src='https://gist.github.com/iamnapo/0bb9e3fb7b404e1ec4503c3016efc15b.js?file=default.js')
	script.
		const socket = io.connect('/1');
		socket.emit('clock1');
		socket.on('data1', (data) => {
			let roS = 1.0 * 360 / 60 * data.seconds;
			let roM = 1.0 * 360 / 60 * data.minutes;
			let roH = 1.0 * 360 / 12 * (data.hours % 12) + 1.0 * 360 / 12 * (data.minutes / 60);
			sec.style.transform = 'rotate(' + roS + 'deg)';
			min.style.transform = 'rotate(' + roM + 'deg)';
			hour.style.transform = 'rotate(' + roH + 'deg)';
		});