extends header.pug
block body
  div(class='jumbotron col-md-6 d-flex align-items-center text-center')
    div
      script(src='https://gist.github.com/iamnapo/a97b0a22d19942f61902b77e56dd7b52.js')
  script.
    var socket = io.connect('/5');
    socket.emit('clock5');
    socket.on('data5', (data) => {
      let roS = 1.0 * 360 / 60 * data.seconds;
      let roM = 1.0 * 360 / 60 * data.minutes;
      let roH = 1.0 * 360 / 12 * (data.hours % 12) + 1.0 * 360 / 12 * (data.minutes / 60);
      sec.style.transform = 'rotate(' + roS + 'deg)';
      min.style.transform = 'rotate(' + roM + 'deg)';
      hour.style.transform = 'rotate(' + roH + 'deg)';
    });