extends header.pug
block body
	div(class='jumbotron col-md-6 d-flex align-items-center text-center')
		div(class='row')
			div
				script(src='https://gist.github.com/iamnapo/0bb9e3fb7b404e1ec4503c3016efc15b.js?file=create.js')
			div
				script(src='https://gist.github.com/iamnapo/0bb9e3fb7b404e1ec4503c3016efc15b.js?file=gbn.js')
	script.
		const socket = io.connect('/2');
		socket.emit('clock2');
		socket.on('data2', (data) => {
			const roS = (360 / 60) * data.seconds;
			const roM = (360 / 60) * data.minutes;
			const roH = (360 / 12) * ((data.hours % 12) + (data.minutes / 60));
			sec.style.transform = 'rotate(' + roS + 'deg)';
			min.style.transform = 'rotate(' + roM + 'deg)';
			hour.style.transform = 'rotate(' + roH + 'deg)';
		});
